
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Início da navbar */

#logo-nav{
    width: 120px;
    margin-left: 15px;
    margin-top: 7px;
}

.bx{
    font-size: 23px;
}

#user-def-nav{
    width: 45px;
    height: 45px;
    margin-left: -3px;
    border-radius: 100%;
    transition: all 0.5s ease;
}

.sidebar.active #user-def-nav{
    margin: 2px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: rgb(49, 49, 49);
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~.main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #but-menu{
    position: absolute;
    color: rgb(202, 202, 202);
    top: .4rem;
    left: 50%;
    font-size: 24px;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.active #but-menu{
    left: 90%;
}

.sidebar .topo .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.active .topo .logo{
    opacity: 1;
}

.topo .logo i{
    margin-right: 5px;
}

.usuario{
    padding: 7px;
    display: flex;
    margin: 1rem 0;
    transition: all 0.5s ease;
}

.usuario p{
    color: white;
    opacity: 1;
    margin-left: 0.5rem;
}

.user-nome{
    font-weight: 600;
    overflow-wrap: break-word;
    width: 90%;
}

#user-nivel-acesso{
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-weight: 500;
}

.sidebar p{
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: rgb(202, 202, 202);
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.7rem;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover:not(#conteudo-select){
    background-color: rgba(255, 255, 255, 0.21);
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .item-nav{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.sidebar.active .item-nav{
    opacity: 1;
    pointer-events: visible;
}

.main-content{
    position: relative;
    background-color: rgb(207, 207, 207);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
}

.sidebar.active .usuario{
    background-color: rgba(255, 255, 255, 0.112);
    padding: 7px;
    border-radius: 0.8rem;
}

.subclass-usuario{
    font-size: 2px;
}

.sidebar.active .subclass-usuario{
    width: 55%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.sidebar #nav-sair{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #438e4b;
    color: white;
    border: none;
    width: 0;
    height: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active #nav-sair{
    opacity: 1;
    width: 47px;
    height: 25px;
}

#nav-entrar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #438e4b;
    color: white;
    border: none;
    width: 100%;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 20px;
}

#nav-entrar:hover{
    background-color: #5c9f63;
    color: rgb(226, 226, 226);
}

#botao-acoes{
    display: flex;
    align-items: center;
}

#select-nav {
    background-color: rgb(49, 49, 49); 
    color: rgb(202, 202, 202); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: transparent; 
    font-weight: 500;
    padding: 4px;
    max-width: 30px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.active #select-nav {
    max-width: 106px;
    opacity: 1;
}

#opt-periodos{
    display: none;
}

#ampulheta.girar{
    rotate: 180deg;
    transition: all 1s;
}

#conteudo-select i {
    margin-right: -7px;
}

#select-nav option{
    font-weight: 600;
}

/* fim da navbar */
body{
  display: grid;
  justify-content: center;
  align-items: center;
}
#linha6{
  margin-bottom: 30px;
}
#linha, #linha2, #linha3, #linha4, #linha5, #linha6 {
    display: none;
}
.div-jogo h1{
    text-align: left;
    font-size: 57.9px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 250, 231);
}
.secao1{
    background: url("../img/fundo2-login\ -\ Copia.jpg");
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
section.secao1 {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 85vh;
    margin-bottom: 50px;
}

.div-jogo {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    width: 96%;
    margin-bottom: 100px;
}
.texto-secao{
    width: 60%;
    padding-left: 90px;
}
.p-jogos{
    margin-top: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 26px;
    color: rgb(255, 250, 231);
    text-align: justify;
}
.quiz{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.btn{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 760px;
    height: 100px;  
    background-color: transparent;
    border: 3px solid #000;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 #000;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
  #texto{
    position: relative;
    z-index:3;
    font-size: 30px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
  }
  &:after {
    transition: all 1s ease;
    content: '';
    left: -100px;
    top: 0;
    height: 100%;
    width: 0;
    transform: skew(-60deg);
    position: absolute;
    background: #000;
  }
  &:hover{
    color: #fff;
    &:after {
      width: 200%;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

        .quiz-ha {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
            font-size: 1.75rem;
            margin: 0.5rem 0 0 0;
        }

        .centro {
            text-align: center;
        }

        .questao {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        #numQuestao {
            text-align: center;
            width: 2.5rem;
            height: 2rem;
            display: block;
            background: #438e4b;
            color: #fff;
            padding: 6px 10px 4px 8px;
            border-radius: 50%;
        }

        #pergunta {
            font-size: 1rem;
            margin-left: 0.5rem;
        }

        .imagemDaQuestao {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }

        .questoes {
            user-select: none;
            background: #fff;
            padding: 1.2rem 1.2rem 0.7rem 1.2rem;
            border: 1px solid #ececec;
            border-radius: 15px;
            margin-bottom: 0.625rem;

            height: 460px;
            max-width: 450px;

            overflow-y: auto;
            word-wrap: break-word;
            text-align: justify;
        }

        .questoes ol li {
            border: 1px solid black;
            display: block;
            margin-bottom: 0.625rem;
            padding: 1rem;
            border-radius: 18px;
            font-size: 1rem; 
            padding: 0.75rem; 
            margin-bottom: 0.5rem; 
        }

        .questoes ol li:hover {
            cursor: pointer;
            border: 1px solid black;
        }

        .bloqueado {
            display: none;
        }

        .bloqueado li:hover {
            display: none;
        }

        #instrucoes {
            font-size: 1rem;
            color: #191919;
            padding: 0.625rem;
            border-radius: 8px;

            display: flex;
            justify-content: center;
        }

        #aviso {
            color: #438e4b;
            margin-top: 54px;
            font-size: 0.8rem;
        }

        #total #numero {
            font-size: 1rem;
        }

        #autoria {
            margin-top: 0.625rem;
            font-size: 0.75rem;
        }

        @keyframes piscar {
            0% {
                filter: drop-shadow(0 0 15px #438e4b);
                -webkit-filter: drop-shadow(0 0 15px #438e4b);
                -moz-filter: drop-shadow(0 0 15px #438e4b);
                -o-filter: drop-shadow(0 0 15px #438e4b);
                -ms-filter: drop-shadow(0 0 15px #438e4b);
            }
            100% {
            }
        }

        .animar {
            animation: piscar .75s infinite alternate;
        }

        .aparecer {
            animation: aparecer .5s infinite alternate;
        }

        @keyframes aparecer {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }

        .acertou {
            background-color: #438e4b7e;
            transition: background-color 1s ease;
        }

        .errou {
            background-color: rgba(255, 0, 0, 0.511);
            transition: background-color 1s ease;
        }


        .placar {
            padding: 1rem;
            border-radius: 8px;
            background:#03a9f4;
            font-size: 2rem;
        }

/* memória */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap");
.memory-game {
    padding-left: 20px;
    position: relative;
    display: flex;
    width: 650px;
    max-width: 100% !important;
    height: 450px;
    margin: 60px;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 30%);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.front-face,
.back-face {
    position: absolute;
    display: flex;
    border: #333 8px;
    background: #341f44;
    backface-visibility: hidden;
    list-style: none;
    object-fit: cover ;
}
.back-face{
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.front-face {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}
.question {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}

#end_options {
    margin-bottom: 30px;
} 

.correct {
    background-color: #d4edda;
}

.incorrect {
    background-color: #f8d7da;
}

#button-quiz {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #063512b1;
    color: #fff;
    margin-right: 10px;
}

#button-quiz:hover {
    background-color: #051d0bc6;
}

#result {
    text-align: center;
    color: rgb(87, 55, 26);
    font-weight: bold;
    margin-top: 20px;
}
@media (max-width: 768px){
    .btn{
        width: 300px;
        height: 80px;  
      #texto{
        font-size: 20px;
      }
    }
    .texto-secao h1{
        font-size: 35px;
        text-align: justify;
        margin-top: 7%;
        margin-bottom: 50px;
    }
    .p-jogos{
        margin-top: 20px;
        font-size: 20px;
    }
    .div-jogo {
        width: 100%;
        margin-bottom: 50px;
    }
    .texto-secao{
        width: 100%;
        padding: 40px;
    }

    .memory-game {
        padding-left: 20px;
        position: relative;
        display: flex;
        width: 310px;
        max-width: 100% !important;
        height: 220px;
        margin: 0px;
        flex-wrap: wrap;
        perspective: 1000px;
    }
    .memory-card {
        width: calc(25% - 10px);
        height: calc(33.333% - 10px);
        margin: 3px;
        position: relative;
        box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 30%);
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }
}