/* Início da navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(252, 248, 248);
}

footer {
    height: 100%;
    background-color: white;
    width: 100%;
    color: black;
}

#footer {
    justify-content: space-evenly;
    display: flex;
    margin-top: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

footer p, footer a {
    font-size: 14px;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #1e90ff;
}

footer a:hover {
    text-decoration: underline;
}


footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}
 
.contato {
    margin-top: 5px;
}